@model IEnumerable<TranAnhShop.Models.mCategory>

<header>
    <div class="" style="background:rgb(0, 0, 0)">
        <div class="container-91 text-right">
            <small class="float-left mt-1 text-white">
                email@gmail.com  |  0123456789
            </small>
            <small>
                @Html.Action("MainMenu", "Module")
            </small>
        </div>
    </div>
    <div class="wrapt">
        <div class=" row container-91">
            <div class="col-sm-3 text-light float-left">
                <a href="/"
                   class="d-block text-decoration-none h3 text-center pt-3 text-white font-weight-bold">
                    TranAnhShop
                </a>
            </div>
            <div class="col-sm-5 float-left">
                @using (Html.BeginForm("Search", "Site", FormMethod.Get, new { @class = "form-search-top" }))
                {
                    <input class="in-search text-secondary" type="text" style="font-size: 14px;" placeholder="Nhập tên sản phẩm..." name="key" value="@(Session["keywords"] ?? "")">
                    <button class="bt-search" type="submit"><i class="fas fa-search" style="color:#ccc"></i></button>}
            </div>
            <div class="col-sm-4 float-left pt-1">
                <div class="cart float-left pr-2" style="margin-top:-6px;margin-left:-20px;">
                    <a href="~/gio-hang">
                        <button type="button" class="btn btn-cart">
                            <i class="fas fa-shopping-cart text-light"></i>
                            <small>
                                <span class="badge badge-light slc">
                                    @(Session["Cart"] != null ? ((List<TranAnhShop.Library.ModelCart>)Session["Cart"]).Count() : 0)
                                </span>
                            </small>
                            <div style="font-size:11px; color:#d0efff">Giỏ hàng</div>
                        </button>
                    </a>
                    <div class="list-cart">
                        @if (Session["Cart"] != null)
                        {
                            <div class="t border-bottom">
                                Giỏ hàng của bạn
                            </div>
                            <ul class="container">
                                @{double Tong = 0;}
                                @foreach (var c in (List<TranAnhShop.Library.ModelCart>)Session["Cart"])
                                {
                                    Tong += (c.Price * c.Quantity);
                                    <li>
                                        <div class="row my-3">
                                            <div class="col-4">
                                                <a href="~/@c.Slug">
                                                    <img src="~/Public/images/products/@c.Image" alt="@c.Name" width="70">
                                                </a>
                                            </div>
                                            <div class="col-7">
                                                <a href="~/@c.Slug" class="text-decoration-none">
                                                    <div class="name"> @c.Name</div>
                                                </a>
                                                <div class="price">
                                                    Đơn giá: @c.Price.ToString("N0") ₫
                                                </div>
                                                <div class="quantity">Số lượng: @c.Quantity</div>
                                            </div>

                                            <div class="col-1 p-0 m-0">
                                                <a href="javascript:void(0)" data-toggle="tooltip" data-placement="right" class="m-remove-one"
                                                   data-id="@c.ProductID" title="Xóa khỏi giỏ hàng"><i class="fas fa-times-circle"></i></a>
                                            </div>
                                        </div>

                                    </li>
}
                                <div class="row mb-3 mt-2 clearfix">
                                    <div class="col-7">
                                        Tổng: <strong class="float-right" style="color:#ee4d2d">
                                            @Tong.ToString("N0")₫
                                        </strong>
                                    </div>
                                    <div class="col-5">
                                        <div class="m-0 px-2 btn btn-primary btn-sm float-right">
                                            <a href="~/gio-hang" class="text-white text-decoration-none">
                                                Thanh toán
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </ul> }
                        else
                        {
                            <div class="t">
                                <img src="~/Public/images/null.png" alt="Trống" width="100">
                                <div class="pb-5 font-weight-bold" style="opacity: .6;">
                                    Giỏ hàng của bạn trống
                                </div>
                            </div>}
                    </div>
                </div>
                <div class="ml-3 float-left">
                    <a href="~/tin-tuc" class="text-white font-weight-bold text-decoration-none">Tin tức</a>
                    <div style="font-size:13px; color:#d0efff">Tin khuyến mại</div>
                </div>
                <div class="pl-5 float-left">
                    @*<button type="button" class="button_login" data-toggle="modal" data-target=".bd-example-modal-lg"
                                data-whatever="" data-backdrop="static" data-keyboard="false">
                            Đăng nhập,
                        </button>

                        <button type="button" class="button_dangky" data-toggle="modal" data-target="#exampleModal" data-backdrop="static"
                                data-keyboard="false">
                            Đăng ký thành viên
                        </button>*@
                    @Html.Action("Login", "Module")
                </div>
            </div>
        </div>
    </div>

    <div class="wrapb">
        <div class="container-91">
            <div class="cate float-left p-0">
                <a href="" class="pl-4 font-weight-bold">
                    <i class="fas fa-bars"></i>
                    &nbsp; Danh mục
                </a>

                <nav class="main-menu" style="z-index:9999999">
                    <ul>
                        @{int i = 1; }
                        @foreach (var c in Model.Take(12))
                        {
                            <li>
                                <a href="~/@c.Slug"><i class="nicon-@i"></i> &nbsp; @c.Name</a>
                                <ul>
                                    @foreach (var d in Model)
                                    {
                                        if (c.ID == d.ParentID)
                                        {
                                            <li>
                                                <a href="~/@d.Slug" class="font-weight-bold">@d.Name</a>
                                            </li>
}
                                    }
                                </ul>
                            </li>
i++;
                        }
                    </ul>
                </nav>
            </div>
            <div class="">
                @foreach (var t in ViewBag.Promotion)
                {
                    <div class="promo float-left"> <a href="@t.Slug" class="text-dark text-decoration-none">@t.Title</a> </div>}

            </div>
        </div>
    </div>
</header>

