@model TranAnhShop.Models.mUser

@{
    ViewBag.Title = "Chi tiết thành viên";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@*<h2>Details</h2>

<div>
    <h4>mUser</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Fullname)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fullname)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gender)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Phone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Phone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Access)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Access)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Created_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Created_by)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_at)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_at)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Updated_by)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Updated_by)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Quay lại", "Index")
</p>*@



<section class="content my-2">
    <div class="container-fluid">
        <!--Content-->
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h5 class="text-csm">@ViewBag.Title</h5>
                    </div>
                    <div class="col-4">
                        <div class="float-right pt-1">
                            <button type="button" class="btn btn-primary btn-sm">
                                <a href="~/Admin/User/Edit/@Model.ID" class="text-white"><i class="fas fa-pen"></i>&nbsp; Sửa</a>
                            </button>
                            <button type="button" class="btn btn-danger btn-sm">
                                <a href="~/Admin/User/DelTrash/@Model.ID" class="text-white"><i class="far fa-trash-alt fa-xs"></i>&nbsp;Xóa</a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table class="table table-bordered table-hover">

                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.ID)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.ID)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Fullname)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Fullname)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Name)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Name)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Password)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Password)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Email)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Email)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Gender)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Gender)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Phone)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Phone)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Image)</th>
                        <td scope="col"><img src="~/Public/images/user/" alt="@Html.DisplayFor(model => model.Image)" width="100" />  </td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Access)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Access)</td>

                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Status)</th>
                        <td scope="col"> @Html.DisplayFor(model => model.Status)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Created_at)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Created_at)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Created_by)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Created_by)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Updated_at)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Updated_at)</td>
                    </tr>
                    <tr>
                        <th scope="col"> @Html.DisplayNameFor(model => model.Updated_by)</th>
                        <td scope="col">  @Html.DisplayFor(model => model.Updated_by)</td>


                </table>
            </div>
        </div>
    </div>
</section>