@model IEnumerable<TranAnhShop.Models.mCategory>
@{ ViewBag.Title = "Chuyên laptop ngon, bổ, rẻ";
                Layout = "~/Views/Shared/_LayoutSite.cshtml"; }

<div class="home-slider bg-" style="background:#f3f3f3">
    @Html.Action("HomeSlideShow", "Module")
</div>

<div class="promo-so">
    <div>
        <img src="~/Public/images/sliders/title.png" alt="" class="d-block  m-auto pb-2">
    </div>
    <div class="container-91 taiche">
        <div id="owl-wrap" class="owl-carousel owl-theme">

            @foreach (var p in ViewBag.PromotionProduct)
            {
<div class="p-item">
    <a href="@p.Slug">
        <div class="p-img">
            @if (p.Installment == 1)
            {
<div class="anw">Trả góp <span class="font-weight-bold">0%</span></div>}
            <img src="~/Public/images/products/@p.Image" alt="" class="beau">
        </div>
        <div class="couple">
            @if (p.Discount == 1)
            {
<img src="~/Public/images/online-giảm-sốc-1x.png" alt="" class="h-100">}
        </div>
        <div class="p-np">
            @p.Name
        </div>
        <div class="p-price">
            <div class="price">
                @String.Format("{0:0,0₫}", p.ProPrice)
            </div>
            <div class="old-price float-left">
                @String.Format("{0:0,0₫}", p.Price)
            </div>
            <div class="khongbietdattenlagi float-left"> (-@String.Format("{0:0}", ((p.Price - p.ProPrice) / p.Price * 100))%)</div>
        </div>
    </a>
</div>            }
        </div>
    </div>
</div>


<div class="promo-so">
    <div class="container-91 h4 text-center font-weight-bold mb-2" style="color:#d0021b;">
        SẢN PHẨM MỚI
    </div>
    <div class="container-91 taiche">
        <div id="new-product" class="owl-carousel owl-theme">

            @foreach (var p in ViewBag.NewProduct)
            {
<div class="p-item">
    <a href="@p.Slug">
        <div class="p-img">
            @if (p.Installment == 1)
            {
<div class="anw">Trả góp <span class="font-weight-bold">0%</span></div>}
            <img src="~/Public/images/products/@p.Image" alt="" class="beau">
        </div>
        <div class="couple">
            @if (p.Discount == 1)
            {
<img src="~/Public/images/online-giảm-sốc-1x.png" alt="" class="h-100">}
        </div>
        <div class="p-np">
            @p.Name
        </div>
        <div class="p-price">
            <div class="price">
                @String.Format("{0:0,0₫}", p.ProPrice)
            </div>
            <div class="old-price float-left">
                @String.Format("{0:0,0₫}", p.Price)
            </div>
            <div class="khongbietdattenlagi float-left"> (-@String.Format("{0:0}", ((p.Price - p.ProPrice) / p.Price * 100))%)</div>
        </div>
    </a>
</div>            }
        </div>
    </div>
</div>
<div class="tab-products">
    <div class="container-91">
        <div class="title">Sản phẩm theo danh mục</div>
        <div class="tab-tab-tab">

            <ul class="nav nav-pills" id="pills-tab" role="tablist">
                @{ var i = 0;}
                @foreach (var cat in Model)
                {
    <li class="nav-item" role="presentation">
        <a class="nav-link @(i == 0 ? "active" : "")" id="tab-tab-@cat.ID" data-toggle="pill" href="#tab-@cat.ID" role="tab" aria-controls="tab-tab-tab-@cat.ID" aria-selected="true">@cat.Name</a>
    </li>i++;
                }
            </ul>

            <div class="tab-content" id="pills-tabContent">
                @{ i = 0;}
                @foreach (var cat in Model)
                {
    <div class="tab-pane fade show @(i == 0 ? "active" : "") " id="tab-@cat.ID" role="tabpanel" aria-labelledby="tab-tab-@cat.ID">
        @Html.Action("ProductHome", "Site", new { catid = cat.ID })
    </div>i++;
                }
            </div>
        </div>
    </div>
</div>
<div class="py-3" style="background:#f3f3f3">
    <div class="container-91">
        <a href=""><img src="images/sliders/stickert5-03-394x75.png" alt="" width="406"></a>
        <a href=""><img src="images/sliders/stickert5-03-394x75.png" alt="" width="406"></a>
        <a href=""><img src="images/sliders/stickert5-03-394x75.png" alt="" width="406"></a>
    </div>
</div>
<div class="news-home" style="background:#f3f3f3">
    @Html.Action("NewsHome", "Module")
</div>
@Html.Action("Popu", "Module")


