@using PagedList.Mvc;
@model PagedList.IPagedList<TranAnhShop.Models.mProduct>
@{ ViewBag.Title = "Kết quả tìm kiếm: " + (ViewBag.Count > 0 ? "Có " + ViewBag.Count + " kết quả phù hợp" : "Không tìm thấy kết quả phù hợp");
                Layout = "~/Views/Shared/_LayoutSite.cshtml"; }

<div class="" style="background:#f3f3f3">
    @if (Model.Count() == 0)
    {
<div class="container-91 bg-white mb-3" style="background: #fff;min-height:300px">
    <div class="py-3" style="background:#eaeaea">
        <small class="font-weight-bold ml-3">
            Không tìm thấy kết quả phù hợp
        </small>
    </div>
    <div class="my-3">
        <small class="font-weight-bold ml-3"> Để tìm thấy kết quả chính xác hơn bạn vui lòng:</small>
        <ul class="list-unstyled">
            <li class="ml-4"><small class="font-weight-bold ml-3">- Kiểm tra lại lỗi chính tả.</small></li>
            <li class="ml-4"><small class="font-weight-bold ml-3">- Thử lại với từ khóa khác.</small></li>
        </ul>
    </div>
</div> }
            else
            {
<div class="container-91 bg-white mb-4" style="background: #fff;">
    <div class="py-3" style="background:#eaeaea">
        <small class="ml-3">
            Tìm thấy <b class="d-inline">@ViewBag.Count</b> kết quả phù hợp
        </small>
    </div>
    <div class="py-2 border-bottom px-3">
        <div class="btn btn-primary px-3 py-1 my-2 mt-3"> <small> test(1)</small></div>
        <div class="btn btn-outline-primary px-3 py-1 my-2 mt-3"> <small>test(1)</small></div>
        <div class="btn btn-outline-primary px-3 py-1 my-2 mt-3"> <small> test(1)</small></div>
    </div>

    <div class="" style="position: relative;min-height:800px">
        @foreach (var s in Model)
        {
<div class="t-item" style="width:20%">
    <a href="~/@s.Slug">
        <div class="t-img">
            <img src="~/Public/images/products/@s.Image" alt="" class="beau">
            @if (s.Installment == 1)
            {
<div class="anw">Trả góp <span class="font-weight-bold">0%</span></div>}
        </div>
        <div class="couple">
            @if (s.Discount == 1)
            {
<img src="~/Public/images/online-giảm-sốc-1x.png" alt="" class="h-100">}
        </div>
        <div class="t-np">
            @s.Name
        </div>
        <div class="t-price">
            <div class="price">
                @String.Format("{0:0,0₫}", s.ProPrice)
            </div>
            <div class="old-price float-left">
                @String.Format("{0:0,0₫}", s.Price)
            </div>
            <div class="khongbietdattenlagi float-left">(-@(((s.Price - s.ProPrice) / s.Price * 100).ToString("N0"))%)</div>
        </div><br />
        <div class="container ml-1">
            <small class="text-warning d-inline">4.9/5</small> <small class="fas fa-star text-warning"></small>
            <small class="text-secondary">
                Đánh giá
            </small>
        </div>
    </a>
</div>                }
    </div>
</div>}
    <div class="pagination-91 py-3">
        @Html.PagedListPager(Model, page => Url.Action("Search", new { key = Session["keywords"], page }))
    </div>
</div>




