
<!DOCTYPE HTML>
<HTML lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" itemprop="thumbnailUrl" content="https://www.google.com/imgres?imgurl=https%3A%2F%2Fi.pinimg.com%2Foriginals%2Fb1%2F17%2F8a%2Fb1178afe6c24d9a36cb5dfcfed630e14.jpg&imgrefurl=https%3A%2F%2Fwww.pinterest.de%2Fpin%2F423127327484715520%2F&tbnid=2QM4YEzNFQ65oM&vet=12ahUKEwjNsIG7tdvqAhXRAqYKHeVCD_kQMygBegUIARCzAQ..i&docid=IS9U0qCshcNRkM&w=600&h=600&q=pig%20cute&ved=2ahUKEwjNsIG7tdvqAhXRAqYKHeVCD_kQMygBegUIARCzAQ" />
    <link rel="canonical" href="https://phuongnghiep.com" />
    <title>@ViewBag.Title - Kinh doanh thương mại điện tử chuyên .:!HEO!:.</title>
    <meta name="description" content="@((ViewBag.MetaDesc) ?? "Chuyên kinh doanh")" />
    <meta name="keywords" content="@((ViewBag.MetaKey) ?? "Kinh doanh ")" />

    <link rel="icon" href="~/Public/images/icon-k.png">
    <link rel="stylesheet" href="~/Public/css/bootstrap.min.css">
    <!-- owl -->
    <link rel="stylesheet" href="~/Public/css/owl.carousel.css">
    <link rel="stylesheet" href="~/Public/css/all.min.css">
    <link rel="stylesheet" href="~/Public/css/imageSprite.css" />
    <link rel="stylesheet" href="~/Public/css/style.css">
    <script src="~/Public/js/jquery-3.5.1.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    
</head>

<body>

    @Html.Action("Header", "Module")

    @RenderBody()

    @Html.Action("Footer", "Module")

    <div style="background:#f3f3f3">
        <div class="copyright container-91">
            © Now. Công ty trách nhiệm hữu hạn TranAnhShop <br> Address: Số 298 Đ. Cầu Diễn, Minh Khai, Bắc Từ Liêm, Hà Nội
            . Phone number: (+84) 0123 456 789. Email: email@gmail.com. Content by:
            NguyenDinhThanh.
        </div>
    </div>

    <div id="bttop" style="display: none;">
        <span>Về đầu trang<i class="fas fa-long-arrow-alt-up text-center px-2 pb-1" style="transform: rotate(90deg);"></i></span>
    </div>
    <script src="~/Public/js/jquery-3.5.1.js"></script>
    <!-- owl -->
    <script src="~/Public/js/owl.carousel.js"></script>
    <!--thanh toan-->
    <script src="~/Public/js/thanhtoan.js"></script>
    <!--thanh toan-->
    <script src="~/Public/js/popper.min.js"></script>
    <script src="~/Public/js/bootstrap.min.js"></script>
    <script src="~/Public/js/target.min.js"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v8.0&appId=466059070917155&autoLogAppEvents=1" nonce="aMIWnpEv"></script>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v9.0&appId=699266887289373&autoLogAppEvents=1" nonce="xJm9L3lp"></script>
    <script>
        $(document).ready(function () {
            $("div[style='opacity: 0.9; z-index: 2147483647; position: fixed; left: 0px; bottom: 0px; height: 65px; right: 0px; display: block; width: 100%; background-color: #202020; margin: 0px; padding: 0px;']").remove();
            $("div[style='margin: 0px; padding: 0px; left: 0px; width: 100%; height: 65px; right: 0px; bottom: 0px; display: block; position: fixed; z-index: 2147483647; opacity: 0.9; background-color: rgb(32, 32, 32);']").remove();
            $("div[onmouseover='S_ssac();']").remove();
            $("center").remove();
            $("div[style='height: 65px;']").remove();
        });
    </script>
</body>

</HTML>