@using TranAnhShop.Library
@{ ViewBag.Title = "Thanh toán";
                Layout = "~/Views/Shared/_LayoutSite.cshtml"; }

@Html.Partial("_Nofit")
<form method="POST" onsubmit="return validateForm()">
    <div style="min-height:535px;" class="bg-light py-3" id="checkout">
        <div class="container-91 checkout-cart">
            <div class="row title mt-3 mb-2">
                <div class="col-5 pl-5">
                    &nbsp;&nbsp; &nbsp;Sản phẩm
                </div>
                <div class="col-2 text-center">Đơn giá</div>
                <div class="col-2 text-center">Số lượng</div>
                <div class="col-2 text-center">Thành tiền</div>
            </div>
            @{ double TongTien = 0;}
            @foreach (var c in (List<ModelCart>)Session["Cart"])
            {
                TongTien += (c.Price * c.Quantity);
<div class="row content border-right border-bottom border-left">
    <div class="col-5 pl-5">
        <img src="~/Public/images/products/@c.Image" alt=" @c.Name" width="70">
        &nbsp; &nbsp; @c.Name
    </div>
    <div class="col-2 text-center"> @c.Price.ToString("N0")₫</div>
    <div class="col-2 text-center">
        @c.Quantity
    </div>
    <div class="col-2 text-center" style="color:#ee4d2d">
        @((c.Price * c.Quantity).ToString("N0"))₫
    </div>
</div>            }
            <div class="row border bg-white mt-2 py-3">
                <div class="col-6 profile">
                    Thông tin giao hàng
                    <hr>
                  
                    <div class="row">
                        <div class="col-3 text-right my-3">Họ tên</div>
                        <div class="col-9 my-2">
                            <input name="FullName" type="text" class="form-control rounded-0"
                                   value="@(ViewBag.Info.Fullname)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-right my-3">SĐT</div>
                        <div class="col-9 my-2">
                            <input name="Phone" type="number" class="form-control rounded-0"
                                   value="0@(ViewBag.Info.Phone)">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-right my-3">Email</div>
                        <div class="col-9 my-2">
                            <input id="email" name="email" type="email" class="form-control rounded-0"
                                   value="@ViewBag.Info.Email">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 text-right my-3">Địa chỉ</div>
                        <div class="col-9 my-2">
                            <input id="address" name="address" type="text" class="form-control rounded-0"
                                   value="@ViewBag.Info.Address">
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class=" text-left">Hoàn tất đơn hàng</div>
                    <hr>

                    <div class="row">
                        <div class="col-8 text-right small">Đơn hàng</div>
                        <div class="col-3 text-right font-weight-bold" style="color:#ee4d2d">
                            @String.Format("{0:0,0₫}", TongTien)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 text-right small">Phí vận chuyển</div>
                        <div class="col-3 text-right font-weight-bold" style="color:#ee4d2d;">
                            0₫
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-8 text-right small">Mã giảm giá</div>
                        <div class="col-3 text-right font-weight-bold" style="color:#ee4d2d;">
                            0₫
                        </div>
                    </div>
                    <div class="border-top border-bottom py-3">
                        <div class="row">
                            <div class="col-8 text-right">Tổng cộng</div>
                            <div class="col-3 text-right font-weight-bold" style="color:#ee4d2d; font-size:20px">
                                @String.Format("{0:0,0₫}", TongTien)
                            </div>
                        </div>
                    </div>
                    <div class="row py-3">
                        <div class="col-6"></div>
                        <div class="col-6">
                            <div class="text-right">
                                <button id="thanh-toan" type="submit" style="width:100%; height:49px;border:0; background:-webkit-linear-gradient(top,#f59000,#fd6e1d);color:#fff; font-size:14px">
                                    Đặt hàng
                                </button>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<script>

    $(document).ready(function () {
        $('#thanh-toan').click(function (e) {
            e.preventDefault();
            if ($('#email').val() == null || $('#email').val() == '') {
                Swal.fire('Vui lòng hãy nhập email!');
                return false;
            } else if (($('#address').val().trim() == null || $('#address').val().trim() == '')) {
                Swal.fire('Vui lòng nhập địa chỉ nhân hàng!');
                return false;
            }
            $.ajax({
                url: "/cart/checkauth",
                type: 'POST',
                success: function (f) {
                    if (f.f == 0) {
                        WIYN();
                    } else {
                        $.ajax({
                            url: "/cart/payment",
                            type: 'POST',
                            data: {
                                FullName: $('input[name=FullName]').val(),
                                Phone: $('input[name=Phone]').val(),
                                Email: $('input[name=email]').val(),
                                Address: $('input[name=address]').val(),

                            },
                            dataType: 'json',
                            success: function (pig) {
                                if (!pig) {
                                    console.log(pig);
                                } else {
                                    window.location.href = "account/order";
                                }
                            }
                        })
                    }
                }
            })
        })
    });

    function validateForm() {
        if ($('#email').val() == null || $('#email').val() == '') {
            Swal.fire('Vui lòng hãy nhập email!');
            return false;
        } else if (($('#address').val().trim() == null || $('#address').val().trim() == '')) {
            Swal.fire('Vui lòng nhập địa chỉ nhân hàng!');
            return false;
        }
        return true;
    }

</script>


