@model TranAnhShop.Models.mUser
@{ ViewBag.Title = "Chỉnh sửa thông tin";
    Layout = "~/Views/Shared/_LayoutSite.cshtml"; }
<div style="background:#f5f5f5; min-height:32rem">
    <div class="container-91 mx-auto">
        <div class="row">
            <div class="col-3 mt-5">
                <div class="">
                    <div class="float-left">
                        @*<img src="images/boxed-bg.png" ralt="" width="50"
                            class="rounded-circle">*@
                    </div>
                    <div class="float-left pl-3 border-bottom">

                        <small class="font-weight-bold">Sửa hồ sơ</small><br>
                        <a href="avascript:void(0)">
                            <small class="text-secondary">
                                <i class="fas fa-backspace fa-sm"></i>
                                Quay trở lại
                            </small>
                        </a>

                    </div>
                </div>
                <br>
                <div style="clear:both"></div>
                <div class="mt-4 pl-3">
                    <ul class="nav flex-column">
                        <!--<li class="nav-item">
                            <a class="nav-link  text-secondary" href="account/profile" style="font-size: 14px;">
                                <i class="far fa-id-card"></i> Thông tin tài khoản
                            </a>
                        </li>
                        
                        <li class="nav-item">
                            <a class="nav-link text-secondary" href="order" style="font-size: 14px;">
                                <i class="far fa-file-alt"></i>
                                &nbsp Đơn mua
                            </a>
                        </li>-->
                        @*<li class="nav-item">
                                <a class="nav-link text-secondary" href="notification" style="font-size: 14px;">
                                    <i class="far fa-bell"></i>&nbsp
                                    Thông báo
                                </a>
                            </li>*@
                        <li class="nav-item ">
                            <a class="nav-link text-secondary" href="javascript:void(0)" style="font-size: 14px;">
                                <i class="fas fa-sign-out-alt"></i>&nbsp Đăng xuất
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="col-9 bg- mt-3" style="width:50rem; margin-left:-50px">
                <div class="list-group flex-sm-row" id="listtab-order" role="tablist">
                    <button class="text-center list-group-item list-group-item-action active" data-toggle="list" href="#home" role="tab">Cập nhật</button>
                    <button class="text-center list-group-item list-group-item-action" id="Button" onclick="Me();" data-toggle="list" href="#profile" role="tab"> </button>
                    <button class="text-center list-group-item list-group-item-action" id="Button1" onclick="Me();" data-toggle="list" href="#messages" role="tab"> </button>
                    <button class="text-center list-group-item list-group-item-action" id="Button2" onclick="Me();" data-toggle="list" href="#settings" role="tab"> </button>
                </div>

                <div class="tab-content flex-sm-row mt-2">
                    <div class="tab-content flex-sm-row mt-2">
                        @using (Html.BeginForm("EditCustomer", "Account", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.HiddenFor(model => model.ID)
                            @Html.HiddenFor(model => model.FirstName)
                            @Html.HiddenFor(model => model.LastName)
                            @Html.HiddenFor(model => model.Fullname)
                            @Html.HiddenFor(model => model.Email)
                            @Html.HiddenFor(model => model.EmailID)
                          
                            <li class="tab-pane active" id="home" role="tabpanel">
                                <div class="my-2" style="background-color: white;">
                                    <br />
                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="row">
                                        @*<div class="col-4">
                <label for="email">Họ và Tên</label>
                <input class="mb-0 form-control" type="text" placeholder="Tên Đăng Nhập" value="@Session["User_Name"]" name="Name" disabled>

            </div>*@
                                        <div class="col-4">
                                            <label>Tên truy cập</label>
                                            <div class="">
                                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "mb-0 form-control" } })
                                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <label>Mật khẩu</label>
                                            <div class="">
                                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", placeholder = "Mật khẩu", type = "password" } })
                                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="col-4">
                                            <label>Địa chỉ</label>
                                            <div class="">
                                                @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                    </div>

                                    <br />
                                    <div class="row">

                                        <div class="col-5">

                                        </div>
                                        <div class="col-7 pt-2 pb-3">
                                            <div class="text-right mr-3">
                                                <button style="background:#ee4d2d" type="submit" class="btn rounded-0 px-5 py-2">
                                                    <a href="#" class="text-white text-decoration-none">
                                                        <small class="text-white text"><i style="color:white">Cập nhật</i></small>
                                                    </a>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        }
                    </div>

                </div>

            </div>
        </div>

    </div>
</div>



<style>
    #listtab-order .active {
        border-bottom: 3px solid #ee4d2d;
        background: #fff;
        color: #ee4d2d;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    .list-group-item {
        border-bottom: 1px solid #eee;
        border-top: 0;
        border-left: 0;
        border-right: 0;
    }

    .vertical-center {
        margin: 0 auto;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }
</style>
<script>
    document.getElementById("Button").disabled = true;
    document.getElementById("Button1").disabled = true;
    document.getElementById("Button2").disabled = true;
</script>