@model IEnumerable<TranAnhShop.Models.mUser>
@{
    ViewBag.Title = "Profiles";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="content">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Thông tin cá nhân</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">User Profile</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-3">

                    <!-- Profile Image -->
                    <div class="card card-primary card-outline">
                        <div class="card-body box-profile">
                            <div class="text-center">
                                <img class="profile-user-img img-fluid img-circle"
                                     src="~/Public/images/user/@Session["Admin_Images"]"
                                     alt="@Session["Admin_fullname"]">
                            </div>

                            <h3 class="profile-username text-center">@Session["Admin_fullname"]</h3>

                            <p class="text-muted text-center">@Session["Admin_Name"]</p>

                            <ul class="list-group list-group-unbordered mb-3">
                                <li class="list-group-item">
                                    <b>Followers</b> <a class="float-right">#</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Following</b> <a class="float-right">#</a>
                                </li>
                                <li class="list-group-item">
                                    <b>Friends</b> <a class="float-right">#</a>
                                </li>
                            </ul>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- About Me Box -->
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Thông tin</h3>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <strong><i class="fas fa-book mr-1"></i> Tên</strong>

                            <p class="text-muted">
                                @Session["Admin_fullname"]
                            </p>

                            <hr>

                            <strong><i class="fas fa-map-marker-alt mr-1"></i>Số điện thoại</strong>

                            <p class="text-muted">0@(@Session["Admin_Phone"])</p>

                            <hr>



                            <strong><i class="far fa-file-alt mr-1"></i> Địa chỉ</strong>

                            <p class="text-muted"> @Session["Admin_Address"]</p>

                        </div>
                        @Html.ActionLink("Chỉnh sửa", "EditCustomers", new { id = @Session["Admin_ID"] }, new { @class = "btn btn-primary btn-block ", @style = "background:#ee4d2d, color:white" })

                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
                
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>



